<div class="dashboardView layout-md layout-gt-md layout-lg">	
  <md-content layout="column" flex>
      <span flex></span>
      <div>
        <div ng-hide="options.rowSelection && selected.length" flex></div>
        <div class="md-toolbar-tools" layout-fill>
          <!-- <span>Databases</span> -->       
          <div flex></div>                       
              <!-- <ng-md-icon icon="search" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Search
                </md-tooltip> 
              </ng-md-icon>
              <input type="text" name="searchBox" placeholder="Search" ng-model="filter.search">       -->        

          <input type="text" name="searchBox" ng-model="filter.search" ng-show="showSearch">
          <md-button class="md-icon-button" aria-label="Search Table" ng-mouseover="toggleSearch()">
            <md-tooltip md-direction="top">
            Search
            </md-tooltip>              
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
          </md-button>

          <md-button class="md-icon-button" aria-label="Refresh Table" ng-click="reload()">
            <md-tooltip md-direction="top">
            Refresh
            </md-tooltip>              
            <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
          </md-button>        
          <md-button class="md-primary md-raised" aria-label="Create Instance" ng-click="showAdd($event)">
            <i class="fa fa-plus-circle fa-lg fa-fw margin-bottom"></i>Create Instance
          </md-button>
          <!-- <md-button class="md-warn md-raised  mad-hue-2" aria-label="Delete" ng-click="showDeleteInstance($event)">
            <ng-md-icon icon="delete"></ng-md-icon>Delete Instance
          </md-button> -->
          
        </div>
      </div>

      <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">        	
        <div class="md-toolbar-tools">
          <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>        
        </div>
      </md-toolbar>

    <!--Display the Data tables -->
  <md-card>  
    <md-table-container>
      <table md-table class="mdl-shadow--2dp" md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="refreshPromise">
        <thead class="md-primary md-hue-2" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column md-order-by="database.Name">
              <span class="">Name</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Name of the instance
                </md-tooltip> 
              </ng-md-icon>
            </th>
            <th md-column md-order-by="InstanceType">
              <span>Type</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Type of Instance. MS:Master/Slave | M:Master | MM:Master/Master
                </md-tooltip> 
              </ng-md-icon>
            </th>
            <th md-column md-numeric md-order-by="InstanceIp" md-desc>
              <span>IP</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  IP address of the Master
                </md-tooltip> 
              </ng-md-icon>
            </th>
            <th md-column md-numeric md-order-by="InstancePort">
              <span>Port</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Endpoint Port Number on the Master
                </md-tooltip> 
              </ng-md-icon>
            </th>
            <th md-column md-numeric md-order-by="InstanceStatus">
              <span>Status</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Status of the Instance. CREATING | RUNNING | DELETED
                </md-tooltip> 
              </ng-md-icon>
            </th>
            <th md-column md-numeric md-order-by="InstanceCapacity">
              <span>Memory Utilization</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Memory Utilization | Usage / Capacity | %age
                </md-tooltip> 
              </ng-md-icon>
            </th>
            <th md-column md-numeric md-order-by="InstanceNoOfSlaves.value" hide-gt-xs show-gt-md>
              <span>No. of Slaves</span>
              <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  Number of Slaves
                </md-tooltip> 
              </ng-md-icon>
            </th>                             
            <th md-column hide-gt-xs show-gt-md>
              <span>Actions</span>
              <!-- <ng-md-icon icon="info" style="line-height: 60px;" size="18">
                <md-tooltip md-direction="top">
                  View Instance Details
                </md-tooltip> 
              </ng-md-icon> -->

            </th>

          </tr>
        </thead>        
        <tbody md-body>
          <tr md-row ng-class-odd="'greyRow'" md-select="database" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="" ng-repeat="database in databases.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell>{{database.Name}}</td>
            <td md-cell>{{database.Type}}</td>                	                          
            <td md-cell>{{database.Master.IP}}</td>
            <td md-cell>{{database.Master.Port}}</td>
            <td md-cell><i class="fa fa-cog fa-spin fa-lg fa-fw margin-bottom"></i>{{database.Status}}</td>
            <td md-cell>{{database.Capacity}}</td>
            <td md-cell ng-if="null === database.Slaves">0</td>
            <td md-cell ng-if="null !== database.Slaves">{{database.Slaves.length}}</td>
            <td md-cell> 
            <div class="instanceActions">            
              <md-button aria-label="View Details" class="md-icon-button" ng-click="displayInstanceDetails(database, $event)" ng-disabled="null === database.Slaves">
                <ng-md-icon icon="open_in_new" style="line-height: 30px;" size="18">                
                  <md-tooltip md-direction="top" ng-if="null === database.Slaves">
                    This instance does not have any slaves.
                  </md-tooltip> 
                  <md-tooltip md-direction="top">
                    View Details
                  </md-tooltip>                     
                </ng-md-icon>	
              </md-button>
              <md-button aria-label="View Metrics" class="md-icon-button" ng-click="displayInstanceMetrics(database, $event)" ng-disabled="null === database.Slaves">
                <ng-md-icon icon="insert_chart" style="line-height: 30px;" size="18">                
                  <md-tooltip md-direction="top" ng-if="null === database.Slaves">
                    This instance does not have any slaves.
                  </md-tooltip> 
                  <md-tooltip md-direction="top">
                    View Metrics
                  </md-tooltip>                     
                </ng-md-icon> 
              </md-button>
              <md-button aria-label="Add Slaves" class="md-icon-button" ng-click="addSlaves(database, $event)" >
                <ng-md-icon icon="my_library_add" style="line-height: 30px;" size="18">                                  
                  <md-tooltip md-direction="top">
                    Add Slaves
                  </md-tooltip>                     
                </ng-md-icon> 
              </md-button>
              <md-button aria-label="Delete Instance" class="md-icon-button" ng-click="showDeleteInstance(database, $event)">
                <ng-md-icon icon="delete_forever" style="line-height: 30px;" size="18">
                  <md-tooltip md-direction="top">
                    Delete Instance
                  </md-tooltip> 
                </ng-md-icon> 
              </md-button>
              <!-- FAB Speed dial to put together actions -->
              <!-- <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen" class="md-fling md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-primary">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
                    <ng-md-icon icon="menu" aria-label="menu"></ng-md-icon>
                  </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                  <div ng-repeat="item in demo.items">
                    <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="demo.openDialog($event, item)">
                      <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                        {{item.name}}
                      </md-tooltip>

                      <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
                    </md-button>
                  </div>
                </md-fab-actions>
              </md-fab-speed-dial> -->
              <!-- showMultiSelect($event) -->
              <!-- <md-button aria-label="Delete Multiple Instance" class="md-icon-button" ng-click=""> 
                <ng-md-icon icon="delete_sweep" style="line-height: 30px;" size="18">
                  <md-tooltip md-direction="top">
                    Delete Multiple Instance
                  </md-tooltip> 
                </ng-md-icon> 
              </md-button> -->
            </div>
            </td>                

          </tr>      
        </tbody>
      </table>
    </md-table-container>
  </md-card>
    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{databases.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>

  </md-content>	  
</div>
