<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MR Redis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-sidenav/angular-material-sidenav.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
  </head>
    <body layout="row" ng-app="mrredisApp">
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-content flex md-scroll-y>
        <md-toolbar>
            <div class="md-toolbar-tools">
            <span flex="5"></span>
              <md-button class="md-fab md-raised" aria-label="Mr. Redis">
                  <img src="/images/redis_32x32.png">
              </md-button>                
             
              <h2>
                <span>Mr Redis</span>
              </h2>
              
              <span flex></span><!-- TODO Add theme selection functionality -->
              <!-- <md-select ng-model="selectedTheme" placeholder="Select a theme">
                <md-option ng-value="themeName" ng-repeat="themeName in themeList" ng-selected="themeName == theme">{{ themeName }}</md-option>
                <md-option ng-value="default">Default</md-option>
                <md-option ng-value="blue">Blue</md-option>
              </md-select> -->             
              

            </div>
        </md-toolbar>
        <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>
        </ui-view>
    </md-content>

        

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-sidenav/angular-material-sidenav.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
    <script src="bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <!-- Load all constants here -->
        <script src="apiList/apiList.js"></script>
        <!-- Load all modules here -->
        <script src="scripts/baseModule.js"></script>
        <script src="scripts/dashboard/module.js"></script>
        <script src="scripts/config/module.js"></script>
        <!-- Load all Services here -->
        <script src="scripts/services/ajaxService.js"></script>
        <script src="scripts/dashboard/services/dashboardServices.js"></script>
        <!-- All Directives go here -->
        <!-- <script src="scripts/dashboard/directives/syncFocusWithDirective.js"></script> -->
        <!-- Load all Controllers here -->
        <script src="scripts/baseController.js"></script>        
        <script src="scripts/config/controllers/configController.js"></script>
        <script src="scripts/dashboard/controllers/dashboardController.js"></script>
        <script src="scripts/dashboard/controllers/instanceBatchCreateDialogController.js"></script>
        <script src="scripts/dashboard/controllers/instanceCreateDialogController.js"></script>
        <script src="scripts/dashboard/controllers/instanceDetailsDialogController.js"></script>
        <script src="scripts/dashboard/controllers/instanceDeleteDialogController.js"></script>
        <script src="scripts/dashboard/controllers/addSlavesDialogController.js"></script>
        
        <!-- endbuild -->
</body>
</html>
