<md-dialog class="deleteInstanceView" aria-label="Delete Instance View" flex="40"> 
	<md-toolbar class="md-warn">
		<div class="md-toolbar-tools">
			<i class="fa fa-exclamation-triangle md-warn fa-fw" aria-hidden="true"></i>         
			<h2>Delete Instance?</h2>
			<span flex></span>
			<md-button ng-if="false === deletingInstance" class="md-icon-button" ng-click="close()">
				<ng-md-icon icon="close" aria-label="Close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-subheader ng-if="false === deletingInstance" class="md-warn">You requested the deletion of the following instance: <span class="strongText">{{dbToDelete.Name}}</span></md-subheader> 
	<md-subheader ng-if="true === deletingInstance" class="md-warn">Deleting: <span class="strongText">{{dbToDelete.Name}}</span></md-subheader> 
	<md-content ng-if="false === deletingInstance" class="md-padding">
		<md-table-container>
			<table md-table>
				<thead md-head>
					<tr md-row>
						<th md-column md-numeric md-desc>
							<span>IP Address</span>			            	
						</th>
						<th md-column md-numeric>
							<span>Port Number</span>			            	
						</th>
						<th md-column md-numeric>
							<span>Active Connections</span>			            	
						</th>
						<th md-column md-numeric>
							<span>Number of Slaves</span>			            	
						</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row>
						<td md-cell>{{dbToDelete.Master.IP}}</td>
						<td md-cell>{{dbToDelete.Master.Port}}</td>
						<td md-cell>{{dbToDelete.Master.ClientsConnected}}</td>
						<td md-cell>{{dbToDelete.Slaves.length}}</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
	</md-content>
	<md-content ng-if="false === deletingInstance" class="md-padding">		
		<div class="md-warn md-subhead">This process is irreversible. Are you sure? </div>
	</md-content>
	<div ng-if="false === deletingInstance" class="md-dialog-actions" layout="row"> 
		<span flex></span> 
		<md-button ng-click="close()"> Cancel </md-button> 
		<md-button ng-click="deleteInstance(dbToDelete.Name)" class="md-raised md-warn"> Yes </md-button> 
	</div>

	<md-content ng-if="true === deletingInstance">
		<div layout="column" layout-align="space-between center"> 
			<div layout="column" layout-align="center center"><i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></i></div>
			<div layout="column" layout-align="center center">
				<span class="md-subhead">Instance delete request sent to the server, awaiting response</span>
			</div>
		</div>
	</md-content>
</md-dialog>