<div layout layout-align="center center" class="container-fluid">    
    
      <div class="jumbotron">
      <h1>Welcome to Mr. Redis!</h1>
      <p>Lets get you started.</p>
      <p>Enter the end point to your redis server</p>
      <form name="setEndPointForm">
      	<md-input-container flex> 
			<label>Enter End Point (URL)</label> 
			<input type="text" required="required" ng-model="endPoint" name="endPoint" ng-change="checkUrl()">
			<div ng-messages="setEndPointForm.endPoint.$error" ng-if="setEndPointForm.endPoint.$dirty" ng-messages-multiple>
				<div ng-message="required">End Point is required.</div>
        <div ng-if="invalidUrl">Please enter valid URL.</div> 
			</div>
		</md-input-container>
      	
      </form>
      <md-button id="setEndPointFormSubmitBtn" type="submit" class="md-primary md-raised" aria-label="Set End Point" ng-disabled="setEndPointForm.$invalid || invalidUrl" ng-click="setEndPoint($event)">
          <i class="fa fa-cog fa-lg fa-fw margin-bottom"></i>Set End Point
      </md-button>
      
    </div>
    
  </div>
