<md-content flex md-scroll-y>
  <md-toolbar>
    <div class="md-toolbar-tools">

      <img src="/images/redis_32x32.png">
      <span flex="5"></span>
      <h2>
        <span>Mr Redis</span>
      </h2>
      <!-- <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
      <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
      </md-select> -->
      <span flex></span>

      <!-- <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="img/icons/favorite.svg" style="color: green;"></md-icon>
      <ng-md-icon icon="favorite" style="fill: green; line-height: 60px;" size="30"></ng-md-icon> 
      </md-button> -->
      <md-button class="md-icon-button" aria-label="More">     
        <ng-md-icon icon="more_vert" style="fill: #fff; line-height: 60px;" size="30"></ng-md-icon> 
      </md-button> 

    </div>
  </md-toolbar>
</md-content>
